<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{36}] [%thread] \t - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/current.log</file>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%logger{36}] [%thread] \t - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="FILE" />
    </root>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>